<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

   <div class="field form-group">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<br>
  <div class="field">
    <% f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"New Password", class:"form-control" %>
    <% if @minimum_password_length %>
    
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
<br>
  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"New Password Confirmation", class:"form-control" %>
  </div>
<br>
  <div class="field form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Current Password", class:"form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary" %>
    <%= link_to "Back", :back, class:"btn btn-secondary" %>
  </div>
<% end %>



<br>
<br>
<br>
<br>




<div class="card text-center">
  <div class="card-header">
    Abandon this Journal? (っ◞‸◟c)
  </div>
  <div class="card-body">
    <h5 class="card-title">Cancel my account</h5>
    <p class="card-text">Thank you for using Journal. By clicking the button below, you will start a new chapter in life; hopefully an amazing one, as you traverse it without us.</p>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Delete Account
</button>

  </div>
  <div class="card-footer text-body-secondary">
    <i>Account created on: <%= @user.formatted_creation_date %></i>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-danger">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger">
        <strong>This action cannot be reversed.</strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">I change my mind!</button>
            <%= button_to "Yes, I'm sure!", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>