<div id="<%= dom_id(entry) %>">
  <%# <% if entry.category.present? && entry.category.downcase == "public" %>
  <%# <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= entry.title %></h5>
      <%# <p class="card-text"><%= entry.content %></p>
      <%# <p class="card-text"><%= entry.user.user_name %></p>
      <%# <p class="card-text"><i><%= entry.formatted_creation_date %></i></p>
    <%# </div>
  </div>  %>

    <% if entry.user == current_user %>
      <div class="col h-100">
          <div class="card h-100" style="max-width: 100%; min-width: 12rem;">
            <div class="card-header">
                  <h2><%= link_to "#{entry.title}", entry,  class:"card-title", style:"text-decoration:none;"%></h2>
                    <h6 class="card-subtitle mb-2 text-body-secondary" style="opacity:0.8"><%= entry.category %></h6>
            </div>
            <div class="card-body d-flex flex-column">
            
              
                <p class="card-text flex-grow-1 card-text"><%= entry.content %></p>
                <p class="card-text"><%= entry.user.user_name %></p>
                <p class="card-text"><i><%= entry.formatted_creation_date %></i></p>
            </div>
          </div>
      </div>
    <% end %>
</div>
