<div id="<%= dom_id(entry) %>">
  <% if entry.category.present? && entry.category.downcase == "public" %>
  <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= entry.title %></h5>
      <p class="card-text"><%= entry.content %></p>
      <p class="card-text"><%= entry.user.user_name %></p>
    </div>
      <%= link_to "Show this entry", entry %>
  </div>

  <%  elsif entry.user == current_user %>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= entry.title %></h5>
        <p class="card-text"><%= entry.content %></p>
        <p class="card-text"><%= entry.user.user_name %></p>
    </div>
      <%= link_to "Show this entry", entry %>
  </div>
  <% end %>


</div>
