<div id="<%= dom_id(entry) %>">
  <%# <% if entry.category.present? && entry.category.downcase == "public" %>
  <%# <div class="card mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= entry.title %></h5>
      <%# <p class="card-text"><%= entry.content %></p>
      <%# <p class="card-text"><%= entry.user.user_name %></p>
      <%# <p class="card-text"><i><%= entry.formatted_creation_date %></i></p>
    <%# </div>
  </div>  %>

  <% if entry.user == current_user %>
    <div class="card mb-3 col" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= entry.title %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary"><%= entry.category %></h6>
        <p class="card-text"><%= entry.content %></p>
        <p class="card-text"><%= entry.user.user_name %></p>
       <p class="card-text"><i><%= entry.formatted_creation_date %></i></p>
    </div>
  </div>
  <% end %>


</div>
