<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <%= link_to "MyJournal", '/', class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <%= link_to "Home", '/', class: "nav-link" %>
          </li>
          
        </ul>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Menu</button>
        
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Journal App</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-grid gap-2">

    <% if user_signed_in? %>
            <%= link_to "New entry", new_entry_path, class: "btn btn-primary" %>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
            <%= button_to "Log Out", destroy_user_session_path, :method => :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger w-100" %>


        <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <% end %>

  </div>
  </div>
</div>